<script type="text/javascripts">
$(document).ready(function(){
   $('#signup-modal').modal('show');
});
</script>

<header>
  <div class="header-content">
    <div class="header-content-inner">
      <h1 id="homeHeading">Someone is waiting your visit</h1>
      <hr>
      <p>Still enough space in your suitcase?<br/>
        Bring items to someone in your next destination!<br/>
        They'll do something for your good!</p>
      <a href="#about" class="btn btn-primary btn-xl page-scroll">Find Out More</a>
    </div>
  </div>
</header>

<section class="bg-primary" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 text-center">
        <h2 class="section-heading">Someones want your help! Find them in COURCIE</h2>
        <hr class="light">
        <p>Can you imagine buying your favorite items if the price is doubled or trippled?
          <br/>
          The nightmare comes true if you live in oversea. It is painful. You can help them if you are planed to visit there. They ask you a favor with some rewards in return!</p>
        <a class="page-scroll btn btn-default btn-xl sr-button" role="button" data-toggle="modal" data-target="#signup-modal" data-backdrop="static" data-controls-modal="signup-modal">
          <b>Never used? Join us!</b>
        </a>
      </div>
    </div>
  </div>
</section>

<section id="howto">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading">How to use?</h2>
        <hr class="primary">
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-lg-3 col-md-6 text-center">
        <div class="service-box">
          <i class="fa fa-4x fa-search text-primary sr-icons"></i>
          <h3>Find a demand</h3>
          <p class="text-muted">Find a post matching to your next travel and contact to them.</p>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 text-center">
        <div class="service-box">
          <i class="fa fa-4x fa-suitcase text-primary sr-icons"></i>
          <h3>Buy and pack</h3>
          <p class="text-muted">You will purchase the items and pack them into your suitcase.
          </p>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 text-center">
        <div class="service-box">
          <i class="fa fa-4x fa-plane text-primary sr-icons"></i>
          <h3>Bring them</h3>
          <p class="text-muted">Travel to your destination. Don't forget your suitcase!</p>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 text-center">
        <div class="service-box">
          <i class="fa fa-4x fa-handshake-o text-primary sr-icons"></i>
          <h3>You're done</h3>
          <p class="text-muted">Exchange items with your rewards!</p>
        </div>
      </div>
    </div>
  </div>
</section>

<aside class="bg-gray">
  <div class="container text-center">
    <div class="call-to-action">
      <h2>Take it easy. You don't have to be annoyed by your purchace in abroad!</h2>
      <hr class="light">
      <p>Buying professional items, books in your mother langage, cameras... how you get?<br>Cheese, spices, candies, rice.... you like paying double or trriple price?
      <br>Ask someone shortly visiting your town to get them!</p>
      <!--        <%= link_to "Sign In", new_user_session_path , class: "btn btn-default btn-xl sr-button" %> -->
    </div>
  </div>
</aside>

<section id="contact">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 text-center">
        <h2 class="section-heading">Contact us!</h2>
        <hr class="primary">
        <p>Ready to start your next project with us? That's great! Give us a call or send us an email and we will get back to you as soon as possible!</p>
      </div>
      <div class="col-lg-4 col-lg-offset-4 text-center">
        <i class="fa fa-envelope-o fa-3x sr-contact"></i>
        <p>
          <a href="mailto:your-email@your-domain.com">feedback@startbootstrap.com</a>
        </p>
      </div>
    </div>
  </div>
</section>

<aside class="bg-lavender">
  <div class="container text-center">
    <div class="call-to-action">
      <h3>Legal notice</h3>
      <p>
It is not allowed to trade products forbidden under international law, such as money, rare animals, narcotics. Users of the services need to transport according to the import laws of each country.
This site is not responsible for any problems caused by using the service. Also we are not responsible for financial troubles arising between users of the service.</p>
    </div>
  </div>
</aside>

<div class="modal fade index" id="signup-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog animated">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">×</button>
      </div>
      <div class="row">
        <div class="col-md-8 col-md-offset-2">
          <h4>Sign up</h4>
          <div class="text-center">
          <div class="social-buttons-signup">
            <a href="<%= omniauth_authorize_path(resource_name, "facebook") %>" class="btn btn-fb">
              <i class="fa fa-facebook"></i>
              Facebook</a>
          </div>
          <br>
          -------- or -------
          <br>
        </div>
          <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
          <%= devise_error_messages! %>
            <div class="form-group">
              <div class="field">
                <%= f.label :email, "Email address" %><br/>
                <%= f.email_field :email, class: "form-control", autofocus: true, placeholder: "Email address" %>
              </div>
            </div>
            <div class="form-group">

              <%= f.label :password, "password"%><br/>
              <%= f.password_field :password, autocomplete: "off", class: "form-control", placeholder: "Password (more than 5 characters)" %>
            </div>

            <div class="form-group">
              <%= f.label :password_confirmation %><br/>
              <%= f.password_field :password_confirmation, autocomplete: "off", class: "form-control" %>
            </div>

            <div class="form-group">
              <%= f.submit "Sign up", class: "btn btn-primary btn-block" %>
            </div>

          <% end %>

        </div>
      </div>

    </div>
  </div>
</div>
