<script type="text/javascripts">
$(document).ready(function(){
   $('#signup-modal').modal('show');
});
</script>

<header>
  <div class="header-content">
    <div class="header-content-inner">
      <h1 id="homeHeading">Ask International Errand</h1>
      <hr>
      <p>You won't find easily the items of your contry if you live in abroad.<br/>
        You must pay more or wait to get your things.<br/>
        Ask someone to do an errand for you!</p>
      <a href="#howto" class="btn btn-primary btn-xl page-scroll">Find Out More</a>
    </div>
  </div>
</header>

<section class="bg-primary" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 text-center">
        <h2 class="section-heading">Be a porter in COURCIE</h2>
        <hr class="light">
        <p>Shortly leaving for abroad? Let's find someone asking an errand there.
          <br/>
          You will find an announce matching to your next destination.<br/>Bring items and get your reward!</p>
        <a class="page-scroll btn btn-default btn-xl sr-button" role="button" data-toggle="modal" data-target="#signup-modal" data-backdrop="static" data-controls-modal="signup-modal">
          <b>Become a porter? Join us!</b>
        </a>
      </div>
    </div>
  </div>
</section>

<section id="benefit">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading">3 Reasons to join</h2>
        <hr class="primary">
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-lg-4 col-md-6 text-center">
        <div class="service-box">
          <i class="fa fa-4x fa-money text-primary sr-icons"></i>
          <h4>Low-cost</h4>
          <p class="fine">If you are living outside of your country and still paying a double or tripple price for the domestic products, you can ask for a service of delivery.
          You can get your things well cheaper than the shipping cost.</p>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 text-center">
        <div class="service-box">
          <i class="fa fa-4x fa-hourglass-half text-primary sr-icons"></i>
          <h4>Anyware, swiftly</h4>
          <p class="fine">You are waiting for the arrival of your international shipment? You can skip the waiting time if someone is visiting your town shortly.
          </p>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 text-center">
        <div class="service-box">
          <i class="fa fa-4x fa-child text-primary sr-icons"></i>
          <h4>No need for tracking</h4>
          <p class="fine">International shipping is risky. Sometimes your package losts due to poor delivery service, or sometime shipped backed to for no reason. Stop checking the track record on the web. A porter will be in charge safe delivery.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>

<aside class="bg-gray">
  <div class="container text-center">
    <div class="call-to-action">
      <h2>What you can ask the errand for?</h2>
      <hr class="light">
      <p>Professional items, books in your mother langage, cameras... <br>Cheese, spices, .... you like paying double or trriple price?
      <br>Someone visiting your town shortly will buy and bring them!</p>
      <!--        <%= link_to "Sign In", new_user_session_path , class: "btn btn-default btn-xl sr-button" %> -->
    </div>
  </div>
</aside>

<section id="contact">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 text-center">
        <h2 class="section-heading">Contact us!</h2>
        <hr class="primary">
        <p>We continuously improve our sevice. Send us an email for your feedback to help us!</p>
      </div>
      <div class="col-lg-4 col-lg-offset-4 text-center">
        <i class="fa fa-envelope-o fa-3x sr-contact"></i>
        <p>
          <a href="mailto:feedback@courcie.com">feedback@courcie.com</a>
        </p>
      </div>
    </div>
  </div>
</section>

<aside class="bg-lavender">
  <div class="container text-center">
    <div class="call-to-action">
      <h3>Legal notice</h3>
      <p>
It is not allowed to trade products forbidden under international law, such as money, rare animals, narcotics. Users of the services need to transport according to the import laws of each country.
This site is not responsible for any problems caused by using the service. Also we are not responsible for financial troubles arising between users of the service.</p>
    </div>
  </div>
</aside>

<div class="modal fade index" id="signup-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog animated">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">×</button>
      </div>
      <div class="row">
        <div class="col-md-8 col-md-offset-2">
          <h4>Sign up</h4>
          <div class="text-center">
          <div class="social-buttons-signup">
            <a href="<%= omniauth_authorize_path(resource_name, "facebook") %>" class="btn btn-fb">
              <i class="fa fa-facebook"></i>
              Facebook</a>
          </div>
          <br>
          -------- or -------
          <br>
        </div>
          <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
          <%= devise_error_messages! %>
            <div class="form-group">
              <div class="field">
                <%= f.label :email, "Email address" %><br/>
                <%= f.email_field :email, class: "form-control", autofocus: true, placeholder: "Email address" %>
              </div>
            </div>
            <div class="form-group">

              <%= f.label :password, "password"%><br/>
              <%= f.password_field :password, autocomplete: "off", class: "form-control", placeholder: "Password (more than 5 characters)" %>
            </div>

            <div class="form-group">
              <%= f.label :password_confirmation %><br/>
              <%= f.password_field :password_confirmation, autocomplete: "off", class: "form-control" %>
            </div>

            <div class="form-group">
              <%= f.submit "Sign up", class: "btn btn-primary btn-block" %>
            </div>

          <% end %>

        </div>
      </div>

    </div>
  </div>
</div>
