<div class="body-padding">
  <div class="section-top">
    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <h2><%= t 'top._signed.toptitle'%></h2>
        <p class="fine"><%= t 'top._signed.subtitle'%></p>
        <%= link_to  t('top._signed.titlebutton'), new_demandpost_path, class:"btn btn-primary btn-large center-block" %>
      </div>
    </div>
  </div>

  <div class="section-tips">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-center">
          <h3><%= t 'top._signed.tipstitle'%></h3>
          <hr class="primary">
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-lg-4 col-md-4 text-center">
          <div class="service-box">
            <h4><%= t 'top._signed.tipshead1'%></h4>
            <p class="fine"><%= t 'top._signed.tipscontent1'%></p>
          </div>
        </div>
        <div class="col-lg-4 col-md-4 text-center">
          <div class="service-box">
            <h4><%= t 'top._signed.tipshead2'%></h4>
            <p class="fine"><%= t 'top._signed.tipscontent2'%></p>
          </div>
        </div>
        <div class="col-lg-4 col-md-4 text-center">
          <div class="service-box">
            <h4><%= t 'top._signed.tipshead3'%></h4>
            <p class="fine"><%= t 'top._signed.tipscontent3'%></p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="land-list-section">
    <div class="text-center">
      <h3><%= t 'top._nonsigned.flow'%></h3>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-lg-offset-1 col-lg-10 col-lg-1-offset">
          <h3>①</h3>
          <h2><%= t 'top._nonsigned.flowtitle1'%></h2>
          <h5><%= t 'top._nonsigned.flowsubtitle1'%></h5>

          <div class="row">
            <div class="col-lg-4 col-md-6">
              <div class="service-box">
                <i class="fa fa-2x fa-shopping-cart text-primary sr-icons"></i>
                <h3><%= t 'top._nonsigned.flowhead11'%></h3>
                <p class="fine"><%= t 'top._nonsigned.flowcontent11'%></p>
              </div>
            </div>
            <div class="col-lg-4 col-md-6">
              <div class="service-box">
                <i class="fa fa-2x fa-gift text-primary sr-icons"></i>
                <h3><%= t 'top._nonsigned.flowhead12'%></h3>
                <p class="fine"><%= t 'top._nonsigned.flowcontent12'%></p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="land-list-section">
    <div class="container">
      <div class="row">
        <div class="col-lg-offset-1 col-lg-10 col-lg-1-offset">
          <h3>②</h3>
          <h2><%= t 'top._nonsigned.flowtitle2'%></h2>
          <h5><%= t 'top._nonsigned.flowsubtitle2'%></h5>
          <div class="row">
            <div class="col-lg-4 col-md-6">
              <div class="service-box">
                <i class="fa fa-2x fa-commenting-o text-primary sr-icons"></i>
                <h3><%= t 'top._nonsigned.flowhead21'%></h3>
                <p class="fine"><%= t 'top._nonsigned.flowcontent21'%></p>
              </div>
            </div>
            <div class="col-lg-4 col-md-6">
              <div class="service-box">
                <i class="fa fa-2x fa-suitcase text-primary sr-icons"></i>
                <h3><%= t 'top._nonsigned.flowhead22'%></h3>
                <p class="fine"><%= t 'top._nonsigned.flowcontent22'%></p>
              </div>
            </div>
            <div class="col-lg-4 col-md-6">
              <div class="service-box">
                <i class="fa fa-2x fa-location-arrow text-primary sr-icons"></i>
                <h3><%= t 'top._nonsigned.flowhead23'%></h3>
                <p class="fine"><%= t 'top._nonsigned.flowcontent23'%></p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="land-list-section">
    <div class="container">
      <div class="row">
        <div class="col-lg-offset-1 col-lg-10 col-lg-1-offset">
          <h3>③</h3>
          <h2><%= t 'top._nonsigned.flowtitle3'%></h2>
          <h5><%= t 'top._nonsigned.flowsubtitle3'%></h5>
          <div class="row">
            <div class="col-lg-4 col-md-6">
              <div class="service-box">
                <i class="fa fa-2x fa-handshake-o text-primary sr-icons"></i>
                <h3><%= t 'top._nonsigned.flowhead31'%></h3>
                <p class="fine"><%= t 'top._nonsigned.flowcontent31'%></p>
              </div>
            </div>
            <div class="col-lg-4 col-md-6">
              <div class="service-box">
                <i class="fa fa-2x fa-money text-primary sr-icons"></i>
                <h3><%= t 'top._nonsigned.flowhead32'%></h3>
                <p class="fine"><%= t 'top._nonsigned.flowcontent32'%></p>
              </div>
            </div>
            <div class="col-lg-4 col-md-6">
              <div class="service-box">
                <i class="fa fa-2x fa-cutlery text-primary sr-icons"></i>
                <h3><%= t 'top._nonsigned.flowhead33'%></h3>
                <p class="fine"><%= t 'top._nonsigned.flowcontent33'%></p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="section-link-request">
    <div class="section-link-request-content">
      <div class="container">
        <div class="row">
          <div class="col-lg-4 col-xs-6 col-lg-offset-1 col-xs-offset-3">
            <h1><%= t 'top._signed.requestlinktitle'%></h1>
            <%= link_to  t('top._signed.titlebutton'), new_demandpost_path, class:"btn btn-primary btn-xl"%>
          </div>
        </div>
      </div>
    </div>
  </div>

  <aside class="bg-ghostwhite">
    <div class="container text-center">
      <div class="call-to-action">
        <h3><%= t 'top._signed.legaltitle'%></h3>
        <p class="fine"><%= t 'top._signed.legalcontent'%></p>
      </div>
    </div>
  </aside>

  <div class="container">
    <div class="row">
      <div class="col-lg-4 col-lg-offset-4 text-center">
        <i class="fa fa-envelope-o fa-3x sr-contact"></i>
        <p>
          <a href="mailto:feedback@courcie.com">feedback@courcie.com</a>
        </p>
      </div>
    </div>
  </div>
</div>
