<%= form_with(model: messagebox, local: true) do |form| %>
  <% if messagebox.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(messagebox.errors.count, "error") %> prohibited this messagebox from being saved:</h2>

      <ul>
      <% messagebox.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :message_id %>
    <%= form.number_field :message_id, id: :messagebox_message_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
