<div class="body-padding">
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <h2><%= t('.messages') %></h2>
        <hr class="blackborder">
        <% unless @array.any? %>
        <p><%= t('.no_message') %></p>
        <% end %>
        <% @array.each do |user, lastmessage| %>
        <%= link_to inbox_personal_path(lastmessage.messagebox_id), class: "post" do %>
          <div class="row">
            <div class="col-md-2">
              <%= image_tag user.avatar.url(:medium), class: "avatarsmall center-block"%>
            </div>
            <div class="col-md-3">
              <div class="text-center">
                <div class="profile-font-name-small"><%= user.name %></div>
                <div class="profile-font-town-small"><%= user.home_town %></div>
                <div class="profile-font-town-small"><%= I18n.l Date.parse(lastmessage.created_at.to_s) %></div>
              </div>
            </div>
            <div class="col-md-7 message-extract-layout">
              <div class="message-extract-font"><p><%= lastmessage.content%></p></div>
            </div>
          </div>
        <% end %>
        <hr class="blackborder">

        <% end %>
      </div>
    </div>
  </div>
</div>
