<div class="body-padding">
  <div class="row form">
    <div class="col-lg-8 col-lg-offset-2">
      <%= form_for current_user do |f| %>
      <h2 class="text-center"><%= t('.editprofile') %></h2>
      <br>
      <div class="col-lg-4">
        <%= image_tag current_user.avatar.url(:medium), class: "avatarmedium center-block" %>

        <div class="form-group file">
          <%= f.file_field :avatar, class: "form-control floating-label", placeholder: "画像アップロード" %>
        </div>
      </div>
      <div class="col-lg-7 form-horizontal">
        <div class="form-group">
          <%= f.label t('.livingtown'), class: "control-label col-lg-3" %>
          <div class="col-lg-9">
            <%= f.text_field :home_town, placeholder: t('.livingtown_placeholder'), id: :city_from, class: "form-control" %>
          </div>
          <div class="col-lg-offset-3 col-lg-9 profile-show">
            <%= current_user.home_town %>
          </div>
        </div>
        <div class="form-group">
          <%= f.label t('.name'), class: "control-label col-lg-3" %>
          <div class="col-lg-9">
            <%= f.text_field :name, placeholder: t('.name_placeholder'), class: "form-control" %>
          </div>
          <div class="col-lg-offset-3 col-lg-9 profile-show">
            <%= current_user.name %>
          </div>
        </div>

        <div class="form-group">
          <%= f.label t('.notification'), class: "control-label col-lg-3" %>
          <div class="col-lg-9">
            <div class="checkbox-inline">
              <%= f.check_box :request_notification %><%= t('.request_notification')%>
            </div>
            <div class="checkbox-inline">
              <%= f.check_box :message_notification %><%= t('.message_notification')%>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-4 col-lg-offset-4">

      <div class="form-group">
        <%= f.submit t('.submitbutton'), class: "btn btn-primary withripple btn-post center-block" %>
      </div>
      <% end %>
    </div>
  </div>

  <hr class="sectionborder">

  <h2 class="text-center"><%= t('.titleregister') %></h2>
  <p class="fine text-center"><%= t('.subtitleregister') %></p>
  <br>

  <%= form_for @itinerary, class: "form-horizontal" do |f| %>
  <% if @itinerary.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@itinerary.errors.count, "error") %>
      prohibited this itinerary from being saved:</h2>
    <ul>
      <% @itinerary.errors.full_messages.each do |message| %>
      <li><%= message %></li>
      <% end %>
    </ul>
  </div>
  <% end %>

  <div class="row">
    <div class="col-lg-8 col-lg-offset-3">
      <div class="form-inline">
        <div class="form-group">
          <%= f.country_select :country_from, {priority: %w(US CA), prompt: t('.fromcountrytab')}, class: "form-control" %>
          <%= f.text_field :city_to, id: "city_to", class: "form-control", placeholder: t('.tocitytab') %>
          <div class="input-group date" id='datetimepicker1'>
            <%= f.text_field :departure_date,  class: "form-control", placeholder: t('.departure_date') %>
            <span class="input-group-addon">
              <span class="glyphicon glyphicon-calendar"></span>
            </span>
          </div>
        </div>
        <br>
      </div>
    </div>
  </div>

  <script type="text/javascript">
    $(function () {
      $('#datetimepicker1').datetimepicker({format: 'YYYY-MM-DD'});
    });
  </script>

  <br>

  <div class="row">
    <div class="col-lg-6 col-lg-offset-3">
      <div class="form-group">

        <div class="table-responsive">
          <table class="table table-hover">
            <thead>
              <tr>
                <th><%= t('.fromcountrytab')%></th>
                <th><%= t('.tocitytab')%></th>
                <th><%= t('.departure_date')%></th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <% @my_itineraries.each do |itinerary| %>
              <tr>
                <td><%= ISO3166::Country.new(itinerary.country_from).name %></td>
                <td><%= itinerary.city_to %></td>
                <td><%= itinerary.departure_date %></td>
                <td><%= link_to "Delete", itinerary_path(itinerary), method: :delete, class: "btn btn-primary btn-xs" %></td>
              </tr>
              <% end %>
            </tbody>
          </table>
        </div>

      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-4 col-lg-offset-4">
      <div class="form-group">
        <%= f.submit t('.registerbutton'), class: "btn btn-primary btn-post center-block" %>
      </div>
    </div>
  </div>

  <% end %>
  <hr class="sectionborder">
</div>
