<hr>

<h3>Courcie</h3>

<hr>

<h4>Hi, <%= @user_to.name %></h4>
<p>You have a new message.</p>
<p><%= @message.content %></p>
<p><%= @user_from.name %></p>
<%= link_to "Reply", inbox_personal_url(@message.messagebox_id, locale: I18n.locale)%>

<hr>

<h4>courcie</h4>
<p>If you have any feedback, please contact us by.</p>
<p><a href="mailto:feedback@courcie.com">feedback@courcie.com</a></p>

<%= link_to "Unsubscribe", edit_user_url(@user_to, locale: I18n.locale) %> here
