<div class="body-padding">
  <%= form_with(model: demandpost, local: true, class: "form-horizontal") do |f| %>
  <% if demandpost.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(demandpost.errors.count, "error") %>
      prohibited this demandpost from being saved:</h2>
    <ul>
      <% demandpost.errors.full_messages.each do |message| %>
      <li><%= message %></li>
      <% end %>
    </ul>
  </div>
  <% end %>

  <div class="text-center">
    <h2 class="section-heading"><%= t('demandposts._form.title')%></h2>
  </div>
  <br>

  <div class="container">
    <div class="row">
      <div class= "col-md-6 col-md-offset-3" >
        <div class="form-group">
      <% if current_user.home_town.empty? || current_user.name.empty?%>
        <%= link_to t('demandposts._form.editprofile'), edit_user_path(current_user), class: "btn btn-primary btn-post center-block" %>
      <% end %>
    </div>
    </div>
      <div class="col-md-6 col-md-offset-3">
        <div class="form-group">
          <%= f.label :city_to, t('demandposts._form.city_to'), class: "control-label col-md-3" %>
          <div class="col-md-6">
            <%= f.text_field :city_to, id: :city_to, class: "form-control", value: current_user.home_town %>
          </div>
        </div>
        <div class="form-group">
          <%= f.label :city_from, t('demandposts._form.country_from'), class: "control-label col-md-3" %>
          <div class="col-md-6">
            <%= f.country_select :country_from, {priority: %w(US CA), prompt: t('demandposts._form.country_placeholder')}, class: "form-control" %>
          </div>
        </div>

        <div class="form-group ">
          <%= f.label :expire_date, t('demandposts._form.expire_date'), class: "control-label col-md-3" %>
          <div class="col-md-6">
            <%= f.date_field :expire_date,  class: "form-control datepicker" %>

          </div>
        </div>
        <hr>

        <div class="form-group">
          <%= f.label :item_description, t('demandposts._form.item_description'), class: "control-label col-md-3" %>
          <div class="col-md-9">
            <%= f.text_area :item_description, class: "form-control", placeholder: t('demandposts._form.item_description_placeholder') %>
          </div>
        </div>
        <div class="col-md-8 col-md-offset-4">
          <div class="checkbox-inline">
            <%= f.check_box :money_ok %><%= t('demandposts._form.money_ok')%>
          </div>
          <div class="checkbox-inline">
            <%= f.check_box :no_money_ok %><%= t('demandposts._form.no_money_ok')%>
          </div>
        </div>
        <br/>
        <div class="form-group">
          <%= f.label :reward_description, t('demandposts._form.reward_description'), class: "control-label col-md-3"   %>
          <div class="col-md-9">
            <%= f.text_area :reward_description, class: "form-control", placeholder: t('demandposts._form.reward_description_placeholder') %>
          </div>
        </div>
        <div class="form-group">
          <p class="fine"><%= t('demandposts._form.footercomment') %></p>
          <%= f.submit t('demandposts._form.submitbutton'), class: "btn btn-primary btn-post center-block" %>
        </div>
      </div>
    </div>
  </div>
  <% end %>
</div>
