<div class="body-padding">
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <hr class="blackborder">
        <% @demandposts.each do |demandpost| %>
        <a href="/demandposts/<%= demandpost.id %>" class="post">
          <div class="row">
            <div class="col-md-4">
              <%= image_tag demandpost.user.avatar.url(:medium), class: "avatarmedium center-block"%>
              <div class="text-center">
                <div class="profile-font-name"><%= demandpost.user.name %></div>
                <div class="profile-font-town"><%= demandpost.city_to %></div>
              </div>
            </div>
            <div class="col-md-8">
              <div>
                <div class="post-font-subtitle">Where to get</div>
                <div class="post-font-detail"><%= ISO3166::Country.new(demandpost.country_from).name %></div>
                <div class="post-font-subtitle">What I want to get</div>
                <div class="post-font-detail"><%= demandpost.item_description %></div>
                <div class="post-font-subtitle">The choise of reward</div>
                <div class="post-font-detail">
                  <% if demandpost.money_ok == true && demandpost.no_money_ok == true %>
                  Money or Non monetary reward
                  <% elsif demandpost.money_ok == true %>
                  Money only
                  <% elsif demandpost.no_money_ok == true %>
                  Non monetary reward only
                  <% end %>
                </div>
                <div class="post-font-subtitle">What I can offer you in return</div>
                <div class="post-font-detail"><%= demandpost.reward_description %></div>
              </div>
            </div>
          </div>
          <hr class="blackborder">

          <% end %>
        </div>
      </div>
    </div>
  </div>
