<div class="body-padding">
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <% if @demandpost.user_id != current_user.id %>
        <h2>They are waiting your first message!</h2>
      <% else %>
        <h2>Your announce is now posted!</h2>
        <% end %>
        <hr class="blackborder">
        <div class="row">
          <div class="col-md-4">
            <%= image_tag @demandpost.user.avatar.url(:medium), class: "avatarlarge"%>
            <div class="text-center">
              <div class="profile-font-name"><%= @demandpost.user.name %></div>
              <div class="profile-font-town"><%= @demandpost.city_to %></div>
            </div>
          </div>
          <div class="col-md-8">
            <div>
              <div class="post-font-subtitle">Where to get</div>
              <div class="post-font-detail"><%= @c.name %></div>
              <div class="post-font-subtitle">What I want to get</div>
              <div class="post-font-detail"><%= @demandpost.item_description %></div>
              <div class="post-font-subtitle">The choise of reward</div>
              <div class="post-font-detail">
                <% if @demandpost.money_ok == true && @demandpost.no_money_ok == true %>
                Money or Non manetary reward
                <% elsif @demandpost.money_ok == true %>
                Money only
                <% elsif @demandpost.no_money_ok == true %>
                Non manetary reward only
                <% end %>
              </div>
              <div class="post-font-subtitle">What I can offer you in return</div>
              <div class="post-font-detail"><%= @demandpost.reward_description %></div>
            </div>
          </div>
        </div>

        <hr class="blackborder">
        <% if @demandpost.user_id != current_user.id %>
        <div class="row">
          <div class="col-md-12">
            <div class="form-group">
              <%= form_tag(messages_path(user_to_id: @demandpost.user.id, initial_message: true), method: :post) do %>
              <textarea type="text" , name="content" cols="30" rows="5" class="form-control" , placeholder="Hi I'm Kevin. I'll visit Barcelona the day after tomorrow and stay 1 one week. I still have a space in my suitcase to bring items. Please recontact me!"></textarea>
              <br/>

              <%= submit_tag "I Can Help you!", class:  "btn btn-primary btn-post center-block" %>
              <% end %>
            </div>
          </div>
        </div>
      <% else %>
        <div class="row">
          <div class="col-md-12">
            <div class="form-group">
              <%= link_to "Back", root_path, class: "btn btn-primary" %>
              <%= link_to "Edit", edit_demandpost_path(@demandpost), class: "btn btn-primary" %>
            </div>
          </div>
        </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
