<div class="body-padding">
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <% if @demandpost.user_id != current_user.id %>
        <h2><%= t('.title_porter') %></h2>
      <% else %>
        <h2><%= t('.title_announcer') %></h2>
        <% end %>
        <hr class="blackborder">
        <div class="row">
          <div class="col-md-4">
            <div class="col-md-12">
              <%= image_tag @demandpost.user.avatar.url(:medium), class: "avatarmedium center-block" %>
            </div>
            <div class="text-center col-md-12">
              <div class="profile-font-name"><%= @demandpost.user.name %></div>
              <div class="profile-font-town"><%= @demandpost.city_to %></div>
            </div>
          </div>
          <div class="col-md-8">
            <div>
              <div class="post-font-subtitle"><%= t('.country_from') %></div>
              <div class="post-font-detail"><%= @c.name %></div>
              <div class="post-font-subtitle"><%= t('.item_description') %></div>
              <div class="post-font-detail"><%= @demandpost.item_description %></div>
              <div class="post-font-subtitle"><%= t('.reward_type_header') %></div>
              <div class="post-font-detail">
                <% if @demandpost.money_ok == true && @demandpost.no_money_ok == true %>
                <%= t('.reward_type1') %>
                <% elsif @demandpost.money_ok == true %>
                <%= t('.reward_type2') %>
                <% elsif @demandpost.no_money_ok == true %>
                <%= t('.reward_type3') %>
                <% end %>
              </div>
              <div class="post-font-subtitle"><%= t('.reward_description') %></div>
              <div class="post-font-detail"><%= @demandpost.reward_description %></div>
            </div>
          </div>
        </div>

        <hr class="blackborder">
        <% if @demandpost.user_id != current_user.id %>
        <div class="row">
          <div class="col-md-12">
            <div class="form-group">
              <%= form_tag(messages_path(user_to_id: @demandpost.user.id, initial_message: true), method: :post) do %>
              <textarea type="text" , name="content" cols="30" rows="5" class="form-control" , placeholder= "<%= t('.first_message_placeholder') %>"></textarea>
              <br/>
              <%= submit_tag t('.first_message_button'), class:  "btn btn-primary btn-post center-block" %>
              <% end %>
            </div>
          </div>
        </div>
      <% else %>
        <div class="row">
          <div class="col-md-12">
            <div class="form-group">
              <%= link_to t('.back_button'), root_path, class: "btn btn-primary" %>
              <%= link_to t('.edit_button'), edit_demandpost_path(@demandpost), class: "btn btn-primary" %>
              <%= link_to t('.unpost_button'), demandpost_path(@demandpost), method: :delete, class: "btn btn-primary" %>
            </div>
          </div>
        </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
